body {
    background: linear-gradient(black, blueviolet, violet);
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    color: white;
    font-family: Cambria;
    margin-top: 7%;
    
}

#info {
    font-family: Cambria;
    color: white;
    margin-bottom: 3%;
}

#cust {

    max-width: 100%;
    width: auto;
    margin-bottom: 3%;
}

#app {
  
    max-width: 100%;
    width: auto;
    margin-bottom: 3%;
}